@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
	--c1: #f0f8ff;
	--c2: #303030;
}






.content1 {
	width: 60vw;
	height: auto;
	padding: 5vmin;
	background: #fbfbfb;
	box-sizing: border-box;
	box-shadow: 0 0 1em 0em #000;
    margin: 0px auto;
    margin-top: 100vh;

}

.progress-bar {
	background: #ff9800;
	width: 0;
	height: 1vmin;
	position: fixed;
	left: 0;
	top: 0;
	animation: grow-bar linear forwards;
	animation-timeline: scroll(root);
	z-index: 5;
}

@keyframes grow-bar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.content1 img {
	width: 100%;
}

.doble {
	width: 49%;
	margin: 10% 0 10% 1%;
	float: left;
}

@keyframes reveal {
	0% {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	100% {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}

.revealing-image {
	animation: reveal linear both;
	animation-timeline: view(10% 10%);
	animation-range: entry -50% cover 30%;
	animation-range: entry -100% cover 25%;
}

.parallax-header {
	color: #fff;
	height: 100vh;
	width: 100%;
	background-image: url(https://cdn.josetxu.com/img/everest-cara-norte-carsten-nebel-wikipedia.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-blend-mode: soft-light;
	display: grid;
	place-items: center;
	text-align: center;
	font-size: calc(4vw + 1em);
	z-index: 3;
	position: fixed;
	top: 0;
	animation: sticky-parallax-header linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
	box-shadow: 0 0 1em 0 #000;
	text-shadow: 1vmin 1vmin 1vmin #000, 1px 1px 1px #000, -1px -1px 1px #000,
		-1px 1px 1px #000, 1px -1px 1px #000;
}

@keyframes sticky-parallax-header {
	0% {
		background-position: 50% 0;
		height: 100vh;
		font-size: calc(4vw + 1em);
	}
	100% {
		background-position: 50% 100;
		height: 10vh;
		font-size: 2em;
		background-color: #00000080;
		filter: sepia(1);
		text-shadow: 0 0 0 #000, 1px 1px 1px #000, -1px -1px 1px #000,
			-1px 1px 1px #000, 1px -1px 1px #000;
	}
}

blockquote {
	position: relative;
	padding: 2.5em 5em 4em 5em;
	margin: 4em 0em;
	font-size: 1.25em;
	color: var(--c2);
	background: conic-gradient(from 180deg at 100% calc(100% - 0.65em), var(--c2) 0 25%, #fff0 0 100%), conic-gradient(from 180deg at 0.65em 50%, var(--c2) 0 25%, #fff0 0 100%), conic-gradient(from 0deg at calc(100% - 0.65em) 50%, var(--c2) 0 25%, #fff0 0 100%), conic-gradient(from 0deg at 0em 0.65em, var(--c2) 0 25%, #fff0 0 100%);
}

blockquote:before, 
blockquote:after {
	content: "";
	position: absolute;
	width: 3.5em;
	height: 4.5em;
	top: 3em;
	left: 0.25em;
	transform: rotate(5deg) scale(0.6);
	background: 
		radial-gradient(circle at 1.75em 3em, var(--c2) 1.5em, #fff0 calc(1.5em + 1px)), 
		radial-gradient(circle at 3.5em 1.5em, #fff0 2em, var(--c2) calc(2em + 1px) calc(4em + 1px), #fff0 calc(4em + 2px));
	filter: drop-shadow(3.5em -0.5em 0px var(--c2));
	border-radius: 100%;
}

blockquote:after {
	top: inherit;
	bottom: 3em;
	transform: rotate(195deg) scale(0.6);
	right: 0.25em;
	left: inherit;
}

blockquote p {
	font-size: 1.2em;
	margin-top: 1.5em;
	font-family: "Days One", Arial, Helvetica, serif;
}

blockquote p:first-letter {
	background: var(--c2);
	color: var(--c1);
	padding: 0 0.75em;
	margin-top: 0;
	margin-left: 0.65em;
	margin-right: 0.25em;
	box-sizing: border-box;
	font-size: 2em;
	float: left;
}

blockquote cite {
	font-weight: bold;
	position: absolute;
	bottom: 2.5em;
	background: var(--c2);
	color: var(--c1);
	right: 6em;
	padding: 0.5em 1em;
}



