body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none;
}
.br {
   position: fixed;
   top: 0px;
   z-index:100;
   display: flex;
   justify-content: center;
   align-items: center;
   background: orange;
   width: 100px;
   height: 50px;
   right: 0px;
}
.ahref  {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  text-align: center;
}
.ahref > a {
  display: block;
  padding: 20px 30px;
  margin: auto;
  background: orange;
  
}